<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/stylesheets/application.css" />
    <title>Bookers edit</title>
  </head>

  <body>
    <h1>Editing Book</h1>
    <% if @book.errors.any? %>
      <div class="edit-errors"><% @book.errors.count %>errors occurred.</div>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="edit-box">
    <%= form_with model:@book do |f| %>

      <div class="edit-title">Title</div>
      <%= f.text_field :title %>

      <div class="edit-title">Body</div>
      <%= f.text_area :body %>
      <div class="submit"><%= f.submit 'Update Book' %></div>

      <div class="link-box">
        <div class="link"><%= link_to "Show",book_path(@book.id) %></div>
        <div class="link"><%= link_to "Back",books_path %></div>
      </div>
    <% end %>
    </div>
  </body>